# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env.*
*.sqlite3

# Virtual environment
venv/
env/

# Environment variables
.env

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# VSCode
.vscode/

# Windows junk files (optional)
Thumbs.db